.card{
	padding: 0px 5px 5px 5px;
	margin: 20px 0px;

	display:flex;

	justify-content: space-between;

	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
	border-radius: 6px;
	background: rgb(255, 255, 255);
	border: 1px solid rgba(50,50,50,0.2);
}


	
.card img{
	height: 200px;
	max-width: 300px;
	border-radius: 6px;
	margin: 25px 25px;
}


.card .fichetechnique{
	height: 200px;
	margin: 0px 0px 0px 0px;
}




