.card{
	padding: 0px 5px 5px 5px;
	margin: 15px 0px;
	height: 255px;
	height: auto;

	display:flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
	justify-content: space-evenly;

	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
	border-radius: 6px;
	background: rgb(255, 255, 255);
	border: 1px solid rgba(50,50,50,0.2);

	
}

	
.card img{
	height: 200px;
	max-width: 300px;
	border-radius: 6px;
	margin: 25px 10px;
}


.card .fichetechnique{
	height: auto;
	margin: 0px 0px 0px 0px;
}


@media (max-width : 620px){
    .card{
    	height: auto;
		display:flex;
		flex-direction: column;
		flex-flow: row wrap;
    }
}


