.container {
	width: 80%;
	margin: 15px auto;

}

@media (max-width : 900px){
    .container{
    	width: 98%;
        margin: 20px auto;
    }
}

@media (max-width : 720px){
    .container{
    	width: 100%;
        margin: 20px auto;
    }
}

@media (max-width : 540px){
    .container{
    	width: 100%;
        margin: 10px auto;
    }
}
