.fichetechnique{
	padding: 0px 0px 0px 0px;
	margin: 0px 10px 0px 15px;
}

.fichetechnique h3 {
	font-size: 24px;
}

.fichetechnique h4,p {
	font-size: 16px;
	font-weight: lighter;
	text-justify: justified;
}