.fichetechnique{
	height: 250px;
	padding: 0px 25px 0px 10px;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

.fichetechnique h3 {
	font-size: 24px;
}

.fichetechnique h4,p {
	font-size: 16px;
	font-weight: lighter;
	text-justify: justify;
	text-align:justify;
}

.fichetechnique .bouton {
	margin: 0px 0px 30px 2px;
	justify-self: center;
	text-justify: center;
}


.fichetechnique .texte {
	justify-self: start;
	align-self: flex-start;
}


@media (max-width : 620px){
    .fichetechnique .bouton{
		display: flex;
		direction: row;
		align-items: center;
		align-content: center;
    }
}

