.fichetechnique{
	display: grid;
	height: 200px;
	grid-template-rows: min-content min-content;
	justify-content: space-evenly;

}


.fichetechnique .texte {
	grid-row-start: 1;
	padding: 0px 25px 0px 0px;

}


.fichetechnique .bouton {
	grid-row-start: -1;

}





.fichetechnique h3 {
	font-size: 24px;
}

.fichetechnique h4,p {
	font-size: 16px;
	font-weight: lighter;
	text-justify: justified;
	text-align:justify;

}