.PhotoBouton{
	display: flex;
	flex-direction: column;
	flex-flow: column wrap;
	justify-items: start;
	margin: 50px 50px 50px 50px;


}

.PhotoBouton img {
	width: 400px;
	height: 300px;
	border-radius: 6px;
	margin: 0px 0px 0px 0px;
	justify-self: center;
}

.PhotoBouton .btn-blue {
	justify-self: end;

}
